body {
  background:linear-gradient(to right,#f70 0vw,#f70 10vw,#876 10vw,#876 90vw,#f70 90vw,#f70 100vw);
}
.App {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: tan;
}
a,a:visited {
  color: #0aa;
}
main {
  margin: auto;
  width: 60vw;
  text-align: left;
  min-height: 67vh;
}
footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
footer .links {
  width: 120px;
}
.links {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #444;
  height: 20px;
  width: 100px;
  background-color: #876;
}
.submit {
  border: none;
  height: 22px;
  background: black;
  color: white;
  font-size: 14px;
  border-radius: 6px;
}
button,input,textarea {
  width: 140px;
  margin: 4px auto;
}
