body {
  background:linear-gradient(to right,#f70 0vw,#f70 10vw,#876 10vw,#876 90vw,#f70 90vw,#f70 100vw);
  min-height: 100vh;;
}
.App {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: tan;
}
header {margin-bottom: 1em;}
a,a:visited {
  color: #0aa;
}
main {
  margin: auto;
  width: 60vw;
  text-align: left;
  min-height: 67vh;
}
footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.links {
  width: 120px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #444;
  height: 20px;
  background-color: #876;
}
.entryPreview {
  text-align: left;
  width: 25em;
  border: 1px solid grey;
  background-color: #765;
  border-radius: 10px;
  padding: 5px 8px;
  margin: 10px auto;
  cursor: pointer;
}
hr {
  border: none;
  width: calc(100% + 16px);
  height: 1px;
  margin: 5px 0;
  background-color: grey;
  transform: translateX(-8px);
}
button:not(.x),input,textarea {
  width: 140px;
  margin: 4px auto;
  display: block;
}
button:not(.x) {
  border: none;
  height: 22px;
  background: black;
  color: white;
  font-size: 14px;
  border-radius: 6px;
}
button:not(.x):first-of-type {
  margin-top: 10px;
}
input::placeholder,textarea::placeholder{color: grey;}
#photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.image {
  width: 80px;
  margin: 5px;
}
.image img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.entry {
  width: 50vh;
  height: 50vh;
  background-color: tan;
  border-radius: 10px;
  margin: 0 auto;
  color: black;
  padding: 8px 5px;
  position: relative;
}
.entry p,.entry h3,.entry h4{margin:0;}
.entry h3{margin-bottom: 5px;}
#edit{margin-bottom: 20px;}
.entry #photos,.entry #addPhotos {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.entry #photos{bottom: 0;}
.entry #addPhotos{bottom: 110px;}
.entry img {
  width: 80px;
  height: 80px;
}
.x {
  all: unset;
}
.x img {
  width: 1em;
  height: 1em;
  border-radius: 3px;
}