body {
  background:linear-gradient(to right,#f70 0vw,#f70 10vw,#876 10vw,#876 90vw,#f70 90vw,#f70 100vw);
  min-height: 100vh;;
}
.App {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: tan;
}
header {margin-bottom: 1em;}
a,a:visited {
  color: #0aa;
}
main {
  margin: auto;
  width: 60vw;
  text-align: left;
  min-height: 67vh;
}
footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
footer .links {
  width: 120px;
}
.links {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #444;
  height: 20px;
  width: 100px;
  background-color: #876;
}
button {
  border: none;
  height: 22px;
  background: black;
  color: white;
  font-size: 14px;
  border-radius: 6px;
}
.entryPreview {
  text-align: left;
  width: 25em;
  border: 1px solid grey;
  background-color: #765;
  border-radius: 10px;
  padding: 5px 8px;
  margin: 10px auto;
  cursor: pointer;
}
hr {
  border: none;
  width: calc(100% + 16px);
  height: 1px;
  margin: 5px 0;
  background-color: grey;
  transform: translateX(-8px);
}
button,input,textarea {
  width: 140px;
  margin: 4px auto;
  display: block;
}
input::placeholder,textarea::placeholder{color: grey;}